.formWrapper {
  /* background-color: rgb(238, 189, 189); */
  height: 100vh;
  margin: auto;
  padding: 20vh 40px 0;
}

.formTitle {
  text-align: center;
  margin-bottom: 30px;
}

.regLabel {
  display: flex;
  justify-content: end;
  font-size: 1.4rem;
  margin-top: 15px;
}

.regBtn {
  padding-left: 5px;
  cursor: pointer;
  color: #0d6efd;
}

.regBtn:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  .formWrapper {
    width: 40vw;
  }

  .regLabel {
    font-size: 1.44rem;
  }
}
