.radioGroupWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  padding: 5px 0;
  margin-bottom: 2rem;
}

.description {
  font-size: 1.6rem;
  margin-right: 15px;
}

.radioGroup {
  display: flex;
  column-gap: 4rem;
}

@media screen and (min-width: 768px) {
  .radioGroupWrapper {
    grid-template-columns: 180px 1fr;
    gap: 15px;
  }

  .description {
    font-size: 1.4rem;
  }
}
