/* Global Variables */
:root {
  --primary-color: #8256d4;
  --secondary-color: #3b3159;

  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  font-family: var(--font-family);
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

h1 {
  font-size: 5rem;
  margin-bottom: 2.2rem;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* Large devices (laptops/desktops: 1024px and up) */
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 4.4rem;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 2.6rem;
  }
}
